<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="editAttr_dd" class="easyui-dialog" title="编辑销售属性" style="width:400px;height:400px;"
     data-options="buttons:'#editAttr_bb',closed:true,iconCls:'icon-save',resizable:true,modal:true">
    <br/><br/><br/>
    平台属性ID：<input id="editAttrId" class="easyui-textbox"  style="width:200px">
    <br/><br/><br/>
    平台属性名称：<input id="editAttrName" class="easyui-textbox"  style="width:200px">
    <br/><br/>



</div>

<div id="editAttr_bb">
    <a href="javascript:editAttrSure();"class="easyui-linkbutton">确定</a>
    <a  href="#" class="easyui-linkbutton" >取消</a>
</div>

</body>
</html>